<h1>
  Angular A
  <img src="https://angular.io/assets/images/logos/angular/angular.svg" width="30">
</h1>
<p>
  Angular Version: {{ngVersion}}
</p>
<p *ngIf="message">
  <a (click)="clicked.emit(message)">{{message}}</a>
</p>